DB_NAME="database"
DB_USER="username"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT=5432
PORT=3000
ADMINUSERNAME="adminusername"
ADMINDISPLAYNAME="admindisplayname"
ADMINPASSWORD="adminpassword"
NODE_ENV="dev"
SESSION_SECRET="secret"